*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    font-size: 0;
}

.heading-1 {
    color: #323b4b;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.3rem;
}

.heading-2 {
    color: #323b4b;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.8rem;
}

.heading-3 {
    color: #323b4b;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.4rem;
}

.heading-4 {
    color: #323b4b;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.9rem;
}

.text-lg {
    color: #8a94a6;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
}

.text-md {
    color: #8a94a6;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
}

.btn {
    border: none;
    cursor: pointer;
    height: 4.5rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    padding-left: 3.3rem;
    padding-right: 3.3rem;
    color: #ffffff;
    background-color: #377dff;
}
