/* Tablet */
@media (max-width: 1000px) {
    html {
        font-size: 50%; /* 1 rem is 8px */
    }

    .navigation {
        display: none;
    }

    .contact {
        width: calc((100% - 3.2rem) / 2);
    }

    .contact:nth-child(2) {
        margin-right: 0;
    }

    .contact:first-child {
        margin-bottom: 3.2rem;
    }

    #hero-section .text-lg {
        width: 80%;
    }

    .form__content .text-lg {
        margin: 0 auto;
        width: 80%;
    }

    .form__content {
        width: 100%;
    }

    .footer__social-icons img:not(:last-child) {
        margin-right: 1.2rem;
    }
}

@media (max-width: 800px) {
    .footer__brand {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .footer__links {
        width: calc((100% - 27rem) / 4);
        margin-bottom: 8rem;
    }
}

/* Mobile */
@media (max-width: 600px) {
    #header {
        padding: 5.5rem 2.5rem;
    }

    #hero-section,
    #form-section,
    #footer {
        padding: 8.5rem 2.5rem;
    }

    #hero-section .heading-1,
    #hero-section .text-lg,
    #form-section .heading-2,
    #form-section .text-lg {
        width: 100%;
        text-align: left;
    }

    .contact {
        width: 100%;
        display: block;
        margin-right: 0;
    }

    .contact:nth-child(2) {
        margin-bottom: 3.2rem;
    }

    .input,
    #textareaHelp,
    .submitInput-wrapper label {
        width: 100%;
        margin-bottom: 3.25rem;
    }

    .inputs-row {
        margin-bottom: 0;
    }

    #submitInput {
        display: block;
        width: 100%;
    }

    .submitInput-wrapper label {
        width: 100%;
    }

    .submitInput-wrapper {
        text-align: left;
    }

    .logo {
        width: 16rem;
    }

    .footer__brand {
        display: block;
        width: 100%;
        margin: 0;
        padding-bottom: 7rem;
        border-bottom: 0.1rem solid hsl(219, 14%, 90%);
    }

    .footer__social-icons img:not(:last-child) {
        margin-right: 2.5rem;
    }

    .footer__links {
        width: calc((100% - 9rem) / 2);
        margin-bottom: 3.2rem;
    }

    .footer__links:nth-child(3) {
        margin-right: 0;
    }

    .footer__links:nth-child(2),
    .footer__links:nth-child(3) {
        margin-top: 7rem;
    }

    .footer__links:nth-child(4),
    .footer__links:nth-child(5) {
        margin-bottom: 7rem;
    }
}
